.tile {
  position: relative;
}

.loaderBox {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #E4022B;
	text-align: center;
	z-index: 5;
}

.notFoundBox {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #CCCCFF;
	text-align: center;
}

.notFoundBox h3 {
	position:relative;
	top: calc(50% + 250px);
	left:50%;
	transform: translate(-50%, 0);
	font-size: 2rem;
	text-decoration: none;
}

.lottie {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	filter: grayscale();
	transition: filter 0.4s ease-in-out;
}

.lottie:hover {
	filter: none;
}

.overlay {
  position: absolute; 
  z-index: 3;
}

